<div class="container">
  <footer class="footer">
    <small>
      Copyright @ <a href="http://www.tmc.edu/innovation/">The Mobile Friendly TMC-MailBox</a>
      by <a href="https://github.com/Jiahui-Ruan">Jiahui Ruan</a>
    </small>
  </footer>
</div>